<div class='row'>
        <div class='col-xs-12'>
          <h1>ng-croppie </h1>
          <hr>
          <label>Load image from within your folder structure: </label>
          <br>
          <button class='btn btn-info' ng-click='theImage1 = "ngApp/assets/images/error-img.png"'>Load Image 1</button>
            <button class='btn btn-info' ng-click='theImage1 = "ngApp/assets/images/error-img.png"'>Load Image 2</button>
          <br><br>
          <label>Or upload your own: </label>
          <input id='fileInput' style='width: 400px' class='form-control' type='file'/>
        </div>
</div>
<br><br>
<div class='row' ng-if='theImage1 != undefined'>
    <div class='col-xs-12 col-md-6' style='padding: 20px'>
        <center>
            <h2>Image</h2>
            <ng-croppie ng-model='output'
                        update='onUpdate'
                        boundry="{w: 400, h: 400}"
                        viewport="{w: 300, h:300}"
                        mousezoom="true" zoom="true" type="circle"
                        src="theImage1">
            </ng-croppie>
        </center>
    </div>
    <div class='col-xs-12 col-md-6' style='padding: 20px'>
        <center>
            <h2>Preview</h2>
            <br><br>
            <img src='{{output}}'/>
        </center>
    </div>
</div>
